ControlProductos/obj/Debug/ControlProductos.pdb
ControlProductos/obj/Debug/ControlProductos.pdb
ControlProductos/bin/Debug/ControlProductos.pdb
ControlProductos/obj/Debug/ControlProductos.csproj.GenerateResource.Cache
ControlProductos/obj/Debug/ControlProductos.exe
ControlProductos/bin/Debug/ControlProductos.exe