USE [ControlDeProductos]
GO
/****** Object:  StoredProcedure [dbo].[SP_VERIFICAR_USUARIO]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_VERIFICAR_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTOS_CONSULTAR_TODOS]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_PRODUCTOS_CONSULTAR_TODOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_CODIGO_PRODUCTO]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_MOSTRAR_CODIGO_PRODUCTO]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_RUBROS_SIN_FAMILIA]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_LISTAR_RUBROS_SIN_FAMILIA]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_RUBROS]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_LISTAR_RUBROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PROVEEDORES]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_LISTAR_PROVEEDORES]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTOS]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_LISTAR_PRODUCTOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_FAMILIAS]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_LISTAR_FAMILIAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTA_BAJA_MODIFICACION_PRODUCTOS]    Script Date: 28/05/2017 18:36:23 ******/
DROP PROCEDURE [dbo].[SP_ALTA_BAJA_MODIFICACION_PRODUCTOS]
GO
ALTER TABLE [dbo].[Rubros] DROP CONSTRAINT [FK_Rubros_Familias2]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK_Productos_Rubros]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK_Productos_Proveedores]
GO
/****** Object:  Index [IX_Usuarios]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [IX_Usuarios]
GO
/****** Object:  Index [IX_Rubros]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Rubros] DROP CONSTRAINT [IX_Rubros]
GO
/****** Object:  Index [IX_Productos]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [IX_Productos]
GO
/****** Object:  Index [IX_Familias]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Familias] DROP CONSTRAINT [IX_Familias]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/05/2017 18:36:23 ******/
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 28/05/2017 18:36:23 ******/
DROP TABLE [dbo].[Rubros]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 28/05/2017 18:36:23 ******/
DROP TABLE [dbo].[Proveedores]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 28/05/2017 18:36:23 ******/
DROP TABLE [dbo].[Productos]
GO
/****** Object:  Table [dbo].[Familias]    Script Date: 28/05/2017 18:36:23 ******/
DROP TABLE [dbo].[Familias]
GO
/****** Object:  Table [dbo].[Familias]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Familias](
	[IdFamilia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Familias_1] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Descripcion] [nchar](50) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdRubro] [int] NOT NULL,
	[Marca] [nchar](50) NOT NULL,
	[Precio] [float] NOT NULL,
	[Activo] [bit] NOT NULL CONSTRAINT [DF_Productos_Activo]  DEFAULT ((1)),
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProv] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedores_1] PRIMARY KEY CLUSTERED 
(
	[IdProv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rubros](
	[IdRubro] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[IdFlia] [int] NOT NULL,
 CONSTRAINT [PK_Rubros] PRIMARY KEY CLUSTERED 
(
	[IdRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Clave] [varchar](50) NOT NULL,
	[Tipo_Usuario] [varchar](50) NOT NULL,
 CONSTRAINT [Id__Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Familias] ON 

INSERT [dbo].[Familias] ([IdFamilia], [Nombre], [Descripcion]) VALUES (1, N'Tecnologia', N'Articulos 
		   Informaticos, Computadoras')
INSERT [dbo].[Familias] ([IdFamilia], [Nombre], [Descripcion]) VALUES (2, N'Electrodomesticos', N'Articulos 
		   para electronicos para el hogar')
INSERT [dbo].[Familias] ([IdFamilia], [Nombre], [Descripcion]) VALUES (3, N'Casa y Jardin', N'Articulos 
		   para interior y exterior')
SET IDENTITY_INSERT [dbo].[Familias] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Codigo], [Nombre], [Descripcion], [IdProveedor], [IdRubro], [Marca], [Precio], [Activo]) VALUES (34, N'asdasd                                            ', N'asdsad                                            ', 1, 7, N'sadasd                                            ', 34234, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([IdProv], [Nombre], [Direccion]) VALUES (1, N'Noblex', N'Av Mayo 12')
INSERT [dbo].[Proveedores] ([IdProv], [Nombre], [Direccion]) VALUES (2, N'LG', N'Escobar 33')
INSERT [dbo].[Proveedores] ([IdProv], [Nombre], [Direccion]) VALUES (3, N'Lenovo', N'Alem 2090')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
SET IDENTITY_INSERT [dbo].[Rubros] ON 

INSERT [dbo].[Rubros] ([IdRubro], [Nombre], [Descripcion], [IdFlia]) VALUES (1, N'Infomatica computacion', N'Computadoras, Tablet, Pendrive', 1)
INSERT [dbo].[Rubros] ([IdRubro], [Nombre], [Descripcion], [IdFlia]) VALUES (2, N'Televisores', N'Smart TV, LEDs, Monitores', 1)
INSERT [dbo].[Rubros] ([IdRubro], [Nombre], [Descripcion], [IdFlia]) VALUES (3, N'Fotografia/Video', N'Camaras, Videograbadora, GoPro', 1)
SET IDENTITY_INSERT [dbo].[Rubros] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [Clave], [Tipo_Usuario]) VALUES (1, N'tania', N'1234', N'1')
INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [Clave], [Tipo_Usuario]) VALUES (2, N'matias', N'1234', N'1')
INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [Clave], [Tipo_Usuario]) VALUES (3, N'gaby', N'12345', N'1')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  Index [IX_Familias]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Familias] ADD  CONSTRAINT [IX_Familias] UNIQUE NONCLUSTERED 
(
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [IX_Productos] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rubros]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Rubros] ADD  CONSTRAINT [IX_Rubros] UNIQUE NONCLUSTERED 
(
	[IdRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios]    Script Date: 28/05/2017 18:36:23 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [IX_Usuarios] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProv])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Rubros] FOREIGN KEY([IdRubro])
REFERENCES [dbo].[Rubros] ([IdRubro])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Rubros]
GO
ALTER TABLE [dbo].[Rubros]  WITH CHECK ADD  CONSTRAINT [FK_Rubros_Familias2] FOREIGN KEY([IdFlia])
REFERENCES [dbo].[Familias] ([IdFamilia])
GO
ALTER TABLE [dbo].[Rubros] CHECK CONSTRAINT [FK_Rubros_Familias2]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTA_BAJA_MODIFICACION_PRODUCTOS]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ALTA_BAJA_MODIFICACION_PRODUCTOS]
@Codigo int,
@Nombre nchar(50)=null,
@Descripcion nchar(50)=null,
@IdProveedor int=null,
@IdRubro int=null,
@Marca nchar(50)=null,
@Precio nchar(50)=null,
@Activo bit =null,
@Consulta int 

AS

IF @Consulta = 1
begin

Insert into Productos (Nombre,Descripcion,IdProveedor,IdRubro,Marca,Precio)			
Values (@Nombre,@Descripcion,@IdProveedor,@IdRubro,@Marca,@Precio)
end

IF @Consulta = 2
begin

update Productos set Nombre = @Nombre ,Descripcion = @Descripcion
					,IdProveedor=@IdProveedor ,IdRubro = @IdRubro,
					Marca= @Marca, Precio= @Precio,Activo = @Activo
			where Codigo = @Codigo
end

IF @Consulta = 3
begin 
update Productos set Activo = 0 where Codigo = @Codigo
end 

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_FAMILIAS]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_LISTAR_FAMILIAS]
AS
SELECT IdFamilia,Nombre FROM Familias
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTOS]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_LISTAR_PRODUCTOS]

AS
SELECT p.Codigo,p.Descripcion,p.Marca,p.Nombre,p.Precio,p.IdProveedor,p.IdRubro,pr.Nombre Proveedor,r.Nombre Rubro FROM Productos p JOIN Proveedores pr ON p.IdProveedor=pr.IdProv JOIN Rubros r ON p.IdRubro=r.IdRubro



GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PROVEEDORES]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_LISTAR_PROVEEDORES]
AS

SELECT IdProv,Nombre FROM Proveedores

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_RUBROS]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_LISTAR_RUBROS]
@idFlia int
AS
SELECT IdRubro , Nombre FROM Rubros WHERE IdFlia = @idFlia
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_RUBROS_SIN_FAMILIA]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[SP_LISTAR_RUBROS_SIN_FAMILIA]

AS
SELECT IdRubro , Nombre FROM Rubros
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_CODIGO_PRODUCTO]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_MOSTRAR_CODIGO_PRODUCTO]

as 
begin
Select MAX(Codigo) FROM Productos
end

GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTOS_CONSULTAR_TODOS]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_PRODUCTOS_CONSULTAR_TODOS]
	@RUBRO int=null, 
	@PROVEEDOR int=null, 
	@FAMILIA int=null, 
	@FILTRO varchar(150) =null,
	@ACTIVO INT = NULL
AS
	SELECT P.Codigo,p.Nombre,p.Descripcion,p.Marca,p.Precio,pr.Nombre as Proveedor,r.Nombre as Rubro,f.Nombre as Familia,p.IdProveedor,p.IdRubro,f.IdFamilia,p.Activo

	FROM Productos P inner JOIN Rubros R ON (p.IdRubro=r.IdRubro)
	inner join Familias F on ( F.IdFamilia = R.IdFlia)
	inner join Proveedores PR on ( PR.IdProv = P.IdProveedor)

	WHERE R.IdRubro =ISNULL(@RUBRO, R.IdRubro) 
	and PR.IdProv = ISNULL(@PROVEEDOR,PR.IdProv)
	and f.IdFamilia = ISNULL (@FAMILIA,f.IdFamilia)
	and (( P.Codigo like  '%' + ISNULL(@FILTRO, P.Codigo) + '%')
			or ( P.Nombre like  '%' + ISNULL(@FILTRO, P.Nombre) + '%')
			or ( P.Descripcion like  '%' + ISNULL(@FILTRO, P.Descripcion) + '%')
			or ( P.Marca like  '%' + ISNULL(@FILTRO, P.Marca) + '%')
			or ( P.Precio like  '%' + ISNULL(@FILTRO, P.Precio) + '%')
			or ( F.Descripcion like  '%' + ISNULL(@FILTRO, F.Descripcion) + '%')	
			or ( R.Descripcion like  '%' + ISNULL(@FILTRO, R.Descripcion) + '%')	
			or ( PR.Nombre like  '%' + ISNULL(@FILTRO, PR.Nombre) + '%')		)
	and P.Activo = ISNULL(@ACTIVO,P.Activo)
GO
/****** Object:  StoredProcedure [dbo].[SP_VERIFICAR_USUARIO]    Script Date: 28/05/2017 18:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_VERIFICAR_USUARIO]
@Usuario varchar(50) = null,
@Clave varchar(50) = null

AS  

   SELECT IdUsuario
   FROM Usuarios WHERE @Usuario = Usuario and @Clave = Clave

GO
